#onde-estamos {
  margin-top: 330px;
  background: $corPreta;
  min-height: 440px;

  .container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    .row {
      background-color: $corPrimaria;
      min-height: 430px;

      .conteudo {
        padding: 70px 120px 70px 160px;

        p {
          font-size: 1.563rem;
        }

        h2 {
          p {
            line-height: 3.75rem;
            font-size: 3.75rem;
          }
        }
      }

      .mockoup-mobile {
        width: auto;
        bottom: 0;
        position: absolute;
      }
    }
  }
}