footer {
  background: $corSecundaria;
  position: relative;
  padding: 100px 0 10px 0 !important;
  margin-top: 0;

  .wrapper-footer {
    z-index: 1;
    position: relative;
  }

  .logo-footer {
    img {
      width: 190px;
      margin-bottom: 2rem;
    }
  }

  .texto-footer {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #4a4a4a;
  }

  .cerfificacoes-footer {
    img {
      width: 60px;
    }
  }

  h4 {
    font-size: 1.5rem !important;
    margin-bottom: 35px;
  }

  .links-uteis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .menu-links-uteis-container {
      ul {
        list-style: none;
        padding: 0;

        li {
          a {
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #4a4a4a;
            transition: $transicaoPadrao;

            &:hover {
              color: $corPrimaria;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: $corBranca;
    font-size: 0.79rem;

    span {
      font-size: 1.2rem;
      color: #4a4a4a;

      a {
        color: #4a4a4a;
        transition: all .2s ease-in-out;

        &:hover {
          color: $corPrimaria;
          text-decoration: none;
        }

      }
    }

    .row-enderecos {
      svg {
        top: 3px !important;
        position: relative !important;
      }

      .box-endereco {
        span {
          line-height: 1.4rem;
        }
      }
    }
  }

  .fundo-footer {
    left: 80%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 60%;
  }

  .footer-copyright-content {
    margin-top: 50px;

    .row {

      #redes-sociais {
        a {
          margin: 0 2px;
          background-color: #252525;
          width: 28px !important;
          height: 28px;
          border-radius: 50%;
          position: relative;
          color: #000;
          display: inline-block;
          text-align: center;
          top: 3px;
          border: 1px solid $corSecundaria;
          transition: $transicaoPadrao;

          svg {
            color: #0c0c0c;
            transition: $transicaoPadrao;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            font-size: 20px;
          }

          &:hover {
            background: $corPrimaria;

            svg {
              color: $corSecundaria;
            }
          }
        }
      }

      a {

        &:hover {
          .logo-cia {
            opacity: 1;
          }
        }

        .logo-cia {
          width: 80px !important;
          opacity: .15;
          transition: $transicaoPadrao;
        }
      }

      span {
        color: #4a4a4a;
      }
    }
  }
}