section {
  &#porque-a-supermix {
    margin-top: -32px;

    .conteudo {
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
      background-size: 155%;
      background-position: bottom left;
      padding: 110px 260px 110px 110px;

      h2 {
        font-size: 3.125rem;

        p {
          line-height: 3.125rem;
        }
      }

      p {
        color: $corBranca;
        font-weight: $medium;
        line-height: 1.3rem;
      }

      a {
        font-size: 1.875rem;
        color: $corPrimaria;
        position: relative;
        margin-top: 60px;
        display: inline-block;

        &:hover {
          text-decoration: none;

          .undeline {
            width: 110%;

            &:after {
              opacity: 1;
            }
          }
        }

        .undeline {
          width: 100%;
          position: absolute;
          height: 2px;
          background-color: #f72128;
          bottom: 0;
          left: 0;
          transition: $transicaoPadrao;

          &:after {
            border: solid $corPrimaria;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            content: "";
            position: absolute;
            right: 0;
            bottom: -5px;
            width: 12px;
            height: 12px;
            transition: $transicaoPadrao;
            opacity: 0;
          }
        }
      }
    }
  }

  &#produtos {
    .conteudo {
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
      background-size: 155%;
      background-position: bottom left;
      padding: 110px 110px 110px 180px;
      max-height: 710px;


      h2 {
        font-size: 3.125rem;

        p {
          line-height: 3.125rem;
        }
      }

      p {
        color: $corBranca;
        font-weight: $medium;
        line-height: 1.3rem;
      }

      a {
        font-size: 1.875rem;
        color: $corPrimaria;
        position: relative;
        margin-top: 60px;
        display: inline-block;

        &:hover {
          text-decoration: none;

          .undeline {
            width: 110%;

            &:after {
              opacity: 1;
            }
          }
        }

        .undeline {
          width: 100%;
          position: absolute;
          height: 2px;
          background-color: #f72128;
          bottom: 0;
          left: 0;
          transition: $transicaoPadrao;

          &:after {
            border: solid $corPrimaria;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            content: "";
            position: absolute;
            right: 0;
            bottom: -5px;
            width: 12px;
            height: 12px;
            transition: $transicaoPadrao;
            opacity: 0;
          }
        }
      }
    }

    .produtos-carousel {
      .img-produtos {
        width: auto;
        height: 710px;
        margin: 0 auto;
      }

      .carousel-content {
        position: absolute;
        top: 50%;
        left: 20%;
        color: #fff;
        width: 440px;
        height: 500px;
        transform: translate(0, -50%);
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 50px;

        p {
          line-height: 1.3rem;
        }
      }

      .owl-nav {
        position: absolute;
        bottom: 20%;
        left: 25%;

        button {
          &.owl-prev {
            margin-right: 7px;
          }

          svg {
            color: $corBranca;
            font-weight: 900;
            border: 3px solid #fff;
            width: 45px !important;
            height: 45px;
            border-radius: 50px;
            padding: 8px;
            transition: $transicaoPadrao;
          }

          &:hover {
            background: none;

            svg {
              color: $corPrimaria;
              border-color: $corPrimaria;
            }
          }
        }
      }
    }
  }

  &#cta-home {
    img {
      filter: grayscale(100%);
    }

    span.overlay {
      width: 100%;
      height: 100%;
      background: $corPreta;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .7;
    }

    .conteudo.text-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &#obras-realizadas {
    padding: 100px 0;

    img {
      height: auto;
    }

    span {
      &.traco {
        margin: 0 auto 15px auto;
      }
    }

    .titulo {
      color: #0c0c0c;
      font-size: 2.8rem;
    }

    .conteudo {
      padding: 45px 115px;
      max-height: 330px;

      h3 {
        color: #0c0c0c;
      }

      p {
        font-weight: $medium;
      }
    }
  }

  span {
    &.traco {
      width: 50px;
      height: 10px;
      background-color: $corPrimaria;
      display: block;
      margin-bottom: 30px;
    }
  }
}

