section {
  &#topo-da-pagina {
    position: relative;

    .container {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);

      h1{
        font-size: 3.438rem;
      }

      #breadcrumbs {
        span {
          color: $corBranca;
          font-size: 1.15rem;
          font-weight: $bold;

          a{
            color: $corBranca;
            margin-right: 5px;
            transition: $transicaoPadrao;

            &:hover{
              text-decoration: none;
              color: $corPrimaria;
            }
          }

          .arrow{
            color: $corPrimaria;
            margin-right: 5px;
          }
        }
      }
    }

  }
}

