.btn {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 40px;
  color: $corBranca;
  transition: all .2s ease-in-out;
  position: relative;

  &.btn-primario {
    background: $corPrimaria;
    transition: $transicaoPadrao;
    top: 0;
    left: 0;
    font-weight: $bold;
    font-size: 1.18rem;

    &:before {
      width: 100%;
      height: 100%;
      background: transparent;
      position: absolute;
      content: '';
      z-index: -6;
      display: block;
      border-radius: 50px;
      border: 3px solid #f72228;
      top: 15px;
      left: 18px;
      transition: $transicaoPadrao;
    }

    &:hover {
      top: 8px;
      left: 8px;
      color: $corBranca;

      &:before {
        top: 2px;
        left: 1px;
      }
    }
  }

  &.btn-secundario {
    background: $corPrimaria;
    color: $corBranca;
    border: 3px solid $corPrimaria;
    font-weight: $bold;

    &:hover {
      background: transparent;
      color: $corPrimaria;
    }
  }

  &.btn-bordered {
    background: transparent;
    color: $corPrimaria;
    border: 3px solid $corPrimaria;
    font-weight: $bold;

    &:hover {
      background-color: $corPrimaria;
      color: $corBranca;
    }

    font-size: 1.15rem;
  }

  &.btn-black {
    font-size: 1.25rem;
    font-weight: $bold;
    background: #0c0c0c;
    border: 3px solid #0c0c0c;

    &:hover{
      background-color: transparent;
      color: #0c0c0c;
    }
  }
}