@media(max-width: 767px) {

  .titulo-destaque {
    font-size: 2em !important;
  }
  .single-post section#topo-da-pagina .conteudo-topo-da-pagina h2.titulo-destaque {
    font-size: 1.5em !important;
  }
  .wa__btn_popup .wa__btn_popup_txt {
    display: none !important;
  }

  .mobile-menu-wrapper .contatos-mobile-wrapper .email a {
    font-size: 13px !important;
  }

  section #slide-bootstrap .carousel-item .container h2 p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  section #slide-bootstrap .carousel-item .container .btn-primario {
    font-size: 16px;
  }
}

@media(min-width: 768px) {
  section {
    &#fale-com-a-loglife-secao {
      .contatos {
        .row {
          .email {
            width: 100%;
            text-align: right;
            position: relative;
            display: block;
          }
        }
      }
    }
  }
}