#nossos-produtos {
  .row {
    .conteudo {
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
      background-size: 155%;
      background-position: bottom left;
      padding: 110px 180px 110px 220px;
      max-height: 710px;

      h2 {
        font-size: 3.125rem;

        p {
          line-height: 3.125rem;
        }
      }

      p {
        color: #ffffff;
        font-weight: 500;
        line-height: 1.3rem;
      }
    }

    .img-banner-nossos-produtos {
      width: auto;
    }

    .banner-content {
      background: rgba(0, 0, 0, 0.49);
      position: absolute;
      top: 50%;
      left: 25%;
      width: 470px;
      transform: translate(-25%, -50%);
      padding: 100px 45px;

      h4 {
        font-size: 1.875rem;
        margin-bottom: 50px;
      }

      h5 {
        font-size: 1.2rem;
      }

      .view-products {
        width: 50px;
        height: 50px;
        border: 3px solid $corBranca;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin: 75px auto 0 auto;
        color: $corBranca;
        font-size: 22px;
        transition: $transicaoPadrao;

        &:hover {
          border: 3px solid $corPrimaria;
          color: $corPrimaria;
        }
      }
    }
  }

}

#blocks {
  padding: 70px 0;

  .container {
    .row {
      .content {
        background: #0c0c0c;
        padding: 45px;
        min-height: 425px;

        h4 {
          font-size: 1.438rem;
        }

        p {
          text-align: justify;
          color: $corBranca;
          line-height: 1.2rem;
        }

        .btn-bordered {
          font-size: 1.063rem;
        }
      }
    }
  }
}